{% extends 'canvaslayout.html' %}
{% block title %}Friends on Netflix{% endblock %}
{% block body %}

<h2 style="font-size:2em">See your friend's ratings and reviews.<br>Backup and share your own!</h2>
<h3>Begin by connecting your Facebook and Netflix accounts.</h3>
<p>Just a few clicks and you're done.  Then you can explore your friend's ratings to find new movies and shows to watch.  We will automatically keep your ratings here updated.  You can even auto-post your favorite (or most hated) movies to Twitter and Facebook.</p>
<fb:login-button show-faces="true"></fb:login-button>
{% endblock %}

