{% if iscanvas %}
	{% extends 'canvaslayout.html' %}
{% else %}
	{% extends 'layout.html' %}
{% endif %}

{% block title %}Twitter Settings{% endblock %}

{% block body %}
		{% if not current_user.has_netflix %}
			<p>
		Make sure to <a href="{{ url_for('auth/netflix') }}">connect your Netflix</a> account so we can import your ratings and reviews!
		    </p>
		{% endif %}
	<h2>Twitter Settings</h2>
	Auto-tweet my ratings and/or reviews:<br />
	<p>
	<form method="post" action="{{ current_url }}" enctype="multipart/form-data" class="tipfy-form">
	<input type="checkbox" name="sharereviews" {% if sharereviews %} checked {% endif %}> Reviews <br />
	<input type="checkbox" name="share5" {% if share5 %} checked {% endif %}> "Loved" (5 star) <br />
	<input type="checkbox" name="share4" {% if share4 %} checked {% endif %}> "Liked" (4 star) <br />
	<input type="checkbox" name="share3" {% if share3 %} checked {% endif %}> "Thought was OK" (3 star) <br />
	<input type="checkbox" name="share2" {% if share2 %} checked {% endif %}> "Didn't like" (2 star) <br />
	<input type="checkbox" name="share1" {% if share1 %} checked {% endif %}> "Hated" (1 star)<br />
	<input type="submit"/>
	</form>
	</p>
	(Don't worry, we won't flood your stream if you go on a rating binge)

{% endblock %}

